body{
    background-color: aliceblue;
}
p{
    background-color: aquamarine;
    border: 2px solid;
    letter-spacing: 3px;
}
h1{
    text-transform: lowercase;
    background-color: purple;
}
h2{
    color: chartreuse;
}
